*{
  
  font-family: Arial, Helvetica, sans-serif;
}

.main {
 background-image: url('../../../public/background.jpeg'); /* Cambia esto por la ruta de tu imagen */
  background-size: cover; /* Ajusta la imagen para que cubra todo el área */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  min-height: 100vh; /* Asegura que el fondo cubra al menos toda la altura de la ventana */
  padding: 20px; /* Ajusta el padding según sea necesario */
}

